input[type="checkbox"].checkbox {
  top: 10px;
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #447ffd;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  margin-top: -10px;
}

input[type="checkbox"].checkbox:checked {
  background-color: #447ffd;
  border-color: #447ffd;
}

input[type="checkbox"].checkbox:checked::after {
  content: "✓";
  color: white !important;
  font-size: 24px;
  position: absolute;
  top: -7px;
  left: 4px;
}

input[type="checkbox"].checkbox-delete {
  top: 10px;
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #447ffd;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  margin-top: -10px;
}

input[type="checkbox"].checkbox-delete:checked {
  background-color: #fc2222;
  border-color: #ff5151;
}

input[type="checkbox"].checkbox-delete:checked::after {
  content: "✗";
  color: white !important;
  font-size: 22px;
  position: absolute;
  top: -7px;
  left: 4px;
}
